@model AsliMotor.Models.LogOnModel

@using (Html.BeginForm()) {
 @*   <div>
        <fieldset>
            <legend>Account Information</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="Log On" />
            </p>
        </fieldset>
    </div>
*@
<link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
<h1 class="logo">
    <a href="http://www.homejs.com" title="HomeJS">HomeJS</a>
</h1>
<div id="login" class="dialog">
	<form method="post" action="/login" class="panel-body">
		<fieldset>
			<div class="field">
				<label for="email">Username</label>
				<input type="text" name="Username" class="text" size="43" id="email" autocomplete='off' autofocus placeholder='Username'>
			</div>
			<div class="field">
				<label for="password">Password</label>
				<input type="password" name="Password" class="text password" size="43" id="password" placeholder='Password'>
			</div>
		</fieldset>
		<fieldset class="submit">
			<input class="submit" name="commit" type="submit" value="Log In">
		</fieldset>
	</form>
</div>   
<div href="/signup" id="error">
  @Html.ValidationMessageFor(m => m.UserName)
  @Html.ValidationMessageFor(m => m.Password)
  @Html.ValidationSummary(true, "")
</div>
}
<div style='bottom:0;text-align:center;color: #666;font-size: 12px;margin-top:3px;'>
    <strong>Version </strong>1.000.001 HomeSoft
</div>